<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
    
    <context:property-placeholder location="classpath:db.properties"/>
    <context:component-scan base-package="com.pb">
    </context:component-scan>
    
    <bean id="hello" class="com.pb.model.helloWord">
       <property name="name" value="${name}">
        </property>
    </bean>
    <bean id="aop2" class="com.pb.aop.testAop2"></bean>
    <bean id="aop" class="com.pb.aop.testAop"></bean>
    
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
    <aop:config>
       <aop:pointcut expression="execution(* com.pb.model.*.*(..))" id="pointcut"/>
       <aop:advisor advice-ref="aop" pointcut-ref="pointcut"/>
    </aop:config>
    
<!--     <aop:config> -->
<!--        <aop:pointcut expression="execution(* com.pb.interfaceImpl.*.*(..))" id="pointcut"/> -->
<!--        <aop:advisor advice-ref="aop" pointcut-ref="pointcut"/> -->
<!--     </aop:config> -->
</beans>
